body{
	background-color: white;
}
.head-text{
	margin: 10px;
}
.experience-ex{
	width: 100%;
	border-bottom: 1px solid;
	margin: 10px;
}

.container{
  background-color          : white;
  font-family               : Arial, Helvetica, sans-serif;
}

.resume-frame{
	margin          : 10px;
	/*width           : 100%;*/
}

.resume {
	margin: 10px;
}

mark{
	background      : yellow;
}
